body{
  background-color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.form_container{
  max-width: 380px;
  height: 480px;
  background-color: #fff;
  position: relative;
  margin: 4% auto;
  padding: 5px;
  overflow: hidden;
}
.button_container{
  position: relative;
  width: 220px;
  height: 35px;
  margin: 35px auto;
  box-shadow: 0 0 20px 9px rgb(230, 229, 229);
  /*background-color: aqua;
  */border-radius: 30px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
  outline: none;
}
#btn{
   top: 0px;
   left: 0px;
   position: absolute;
   width: 110px;
   height: 100%;
   background: linear-gradient(to right ,#ff105f , #ffad06);
   transition: .5s;
   border-radius: 30px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   -ms-border-radius: 30px;
   -o-border-radius: 30px;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}

.social-icons{
   margin: 30px auto;
   text-align: center;
}
.social-icons img{
  width: 30px;
  margin: 0 12px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0px;
  border-left: 0;
  border-right: 0;
  border-top: 0 ;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right ,#ff105f , #ffad06);
  border: 0px;
  outline: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.check-box{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login{
  left: 50px;
}
#register{
  left: 450px;
}