.logout {
  font-size: 1.5rem;
  color: rgba($color: #fff, $alpha: 0.6);
  &:hover {
    color: rgba($color: #fff, $alpha: 1);
  }
}

.link {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  &:hover {
    color: #fff;
  }
}
.book_logo {
  font-size: 2rem;
  margin-right: 0.3rem;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

//footer

.footer {
  padding: 1rem;
  background-color: #343a40;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
