body {
  text-align: center;
  font-family: "Open Sans", sans-serif;

  background-color: #f3f3f3;
}
body ~ ::-webkit-scrollbar {
  display: none;
}
.App ~ ::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.loader_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  font-size: 2rem;
  padding-right: 1rem;
}
.loading {
  padding-left: 0.8rem;
}

