// .form_container {
//   max-width: 380px;
//   height: 480px;
//   background-color: #fff;
//   position: relative;
//   margin: 4% auto;
//   padding: 5px;
//   overflow: hidden;
// }
// .button_container {
//   position: relative;
//   width: 220px;
//   height: 35px;
//   margin: 35px auto;
//   box-shadow: 0 0 20px 9px rgb(230, 229, 229);
//   border-radius: 30px;
// }
// .toggle-btn {
//   padding: 10px 30px;
//   cursor: pointer;
//   background: transparent;
//   border: 0;
//   position: relative;
//   outline: none;
// }
// #btn {
//   top: 0px;
//   left: 0px;
//   position: absolute;
//   width: 110px;
//   height: 100%;
//   background: linear-gradient(to right, #ff105f, #ffad06);
//   transition: 0.5s;
//   border-radius: 30px;
//   -webkit-border-radius: 30px;
//   -moz-border-radius: 30px;
//   -ms-border-radius: 30px;
//   -o-border-radius: 30px;
//   -webkit-transition: 0.5s;
//   -moz-transition: 0.5s;
//   -ms-transition: 0.5s;
//   -o-transition: 0.5s;
// }

// .social-icons {
//   margin: 30px auto;
//   text-align: center;
// }
// .social-icons img {
//   width: 30px;
//   margin: 0 12px;
//   cursor: pointer;
//   box-shadow: 0 0 20px 0 #7f7f7f3d;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
// }

// .input-group {
//   top: 180px;
//   position: absolute;
//   width: 280px;
//   transition: 0.5s;
//   -webkit-transition: 0.5s;
//   -moz-transition: 0.5s;
//   -ms-transition: 0.5s;
//   -o-transition: 0.5s;
// }
// .input-field {
//   width: 100%;
//   padding: 10px 0;
//   margin: 5px 0px;
//   border-left: 0;
//   border-right: 0;
//   border-top: 0;
//   border-bottom: 1px solid #999;
//   outline: none;
//   background: transparent;
// }
// .submit-btn {
//   width: 85%;
//   padding: 10px 30px;
//   cursor: pointer;
//   display: block;
//   margin: auto;
//   background: linear-gradient(to right, #ff105f, #ffad06);
//   border: 0px;
//   outline: none;
//   border-radius: 30px;
//   -webkit-border-radius: 30px;
//   -moz-border-radius: 30px;
//   -ms-border-radius: 30px;
//   -o-border-radius: 30px;
// }
// .check-box {
//   margin: 30px 10px 30px 0;
// }
// span {
//   color: #777;
//   font-size: 12px;
//   bottom: 68px;
//   position: absolute;
// }
// #login {
//   left: 50px;
// }
// #register {
//   left: 450px;
// }
// #login1 {
//   left: -400px;
// }
// #register1 {
//   left: 50px;
// }
// #btn1 {
//   left: 110px;
//   top: 0px;
//   position: absolute;
//   width: 110px;
//   height: 100%;
//   background: linear-gradient(to right, #ff105f, #ffad06);
//   transition: 0.5s;
//   border-radius: 30px;
//   -webkit-border-radius: 30px;
//   -moz-border-radius: 30px;
//   -ms-border-radius: 30px;
//   -o-border-radius: 30px;
//   -webkit-transition: 0.5s;
//   -moz-transition: 0.5s;
//   -ms-transition: 0.5s;
//   -o-transition: 0.5s;
// }

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

/*---------------------------------------------*/
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

// textarea:focus,
// input:focus {
//   border-color: transparent !important;
// }

// input:focus::-webkit-input-placeholder {
//   color: transparent;
// }
// input:focus:-moz-placeholder {
//   color: transparent;
// }
// input:focus::-moz-placeholder {
//   color: transparent;
// }
// input:focus:-ms-input-placeholder {
//   color: transparent;
// }

// textarea:focus::-webkit-input-placeholder {
//   color: transparent;
// }
// textarea:focus:-moz-placeholder {
//   color: transparent;
// }
// textarea:focus::-moz-placeholder {
//   color: transparent;
// }
// textarea:focus:-ms-input-placeholder {
//   color: transparent;
// }

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}
.txt-1 {
  display: block;
  text-align: center;
  padding: 0.5rem;
}

.txt2 {
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.github_logo {
  font-size: 1.8rem;
  color: rgb(95, 102, 109);
  transition: all 0.3s;
}
.github_spinner {
  color: rgb(95, 102, 109);
  transition: all 0.3s;
}
.btn-2 {
  width: 100%;
  display: block;
  border-radius: 25px;
  padding: 9px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: all 0.3s;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    .github_logo {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.resc-logo-container {
  padding: 0 0 1rem 0;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.eyes {
  position: absolute;
  bottom: -0.5rem;
  font-size: 1.2rem;
  right: 0.5rem;
}

.login100-form-title {
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding: 2rem 0 0 0;
}
.login100-form-title i {
  font-size: 60px;
}

.book-login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
}
.book-login span {
  font-size: 1rem;
}
.book_logo2 {
  font-size: 4rem;
  width: 100%;
  color: #585f66;
  text-align: center;
}
.resource-logo {
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.text-center {
  padding: 2rem 0 0 0;
}
.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

// .input100::focus {
//   .focus-input100 {
//     z-index: -5;
//   }
// }
/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    right,
    #21d4fd,
    #b721ff,
    #21d4fd,
    #b721ff
  );
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(88, 95, 102);
  &:hover {
    background-color: #343a40;
  }
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
